@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
table {
    background-color: #ff296f0f;
    width: 100%;
    border-spacing: 0;
    padding: 26px;
    margin: 0 auto 100px;
    
}
table tr *{
    padding: 15px;
}
table tr th {
    text-align: left;
    vertical-align: initial;
}
table tr th + th {
    border-left: #707070 solid 1px;
}
table tr td + td {
    border-left: #707070 solid 1px;
}
table tr td{
    padding-bottom: 60px;
    vertical-align: initial;
}

.custom-table{
    background-color: white !important;
    border-collapse: collapse;
    width: 100%;
}
.custom-table tbody tr td {
    border: solid 1px #707070;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
}
.custom-table tbody tr:first-of-type td {
    border-top: none;
}
.custom-table thead{
    background-color: white;
}
.custom-table thead th {
    background-color:#ff296f0f;
    border-left: solid 1px #707070;
    border-right: solid 1px #707070;
    border-bottom: none !important;
    border-top: none !important;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    padding: 60px 0;
}

.number-doc {
    font-size: 1rem;
    font-weight: bold;
}

.table-title{
    font-size: 38px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-transform: uppercase;
}
.table-subtitle{
    margin-bottom: 20px;
}
.table-featured{
    margin-bottom: 20px;
    color: #BF5F93;
    text-decoration: underline;
    font-size: 1.2rem;
}


.page {
    width: 2480px;
    height: 3508px;
    border-bottom: dashed 1px #333;
    padding: 76px 140px;
    /* margin-bottom: 200px; */
    display: flex;
    flex-direction: column;

}

.page .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 154px;
    margin-bottom: 100px;
}

.page .content {
    display: flex;
    flex-direction: column;
}

.img-fluid {
    width: 100%;
    height: auto;
}


.w-25{
    width: 25% !important;
}
.w-50{
    width: 50% !important;
}



.border-left {
    border-left: solid 1px #707070;
}

.four-cells .subtitle {
    color: #FF296F;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 30px ;
}
.four-cells tr td {
    width: 25% !important;
}.four-cells tr th {
    width: 25% !important;
}


.image-wrapper{
    position: relative;
}
.push-img{
    position: absolute;
    max-width: 80%;
    left: 10%;
    top: 0;
    max-height: 250px;
}