* {
    /* outline: dashed 1px tomato; */
}

html, body {
    height: 100vh;
    color: #707070;
}

.section-login{
    height: 100vh;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/patter-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-login{
    background: url('../images/image.png') no-repeat;
    background-position: center;
    background-size: cover;
}


.form-wrapper{
    max-width: 500px;
}

.forgot-pass{
    text-decoration: none;
    color: inherit;
}

/* LOGOS */
.logo-client{
    margin-bottom: 40px;
}
.logo-embryo{
    position: absolute;
    bottom: 10%;
}

/* BUTTONS */

.btn-primary {
    background: #DC557E;
    border: #DC557E;
    padding-left: 40px;
    padding-right: 40px;
}
.btn-primary:hover {
    background: #e75a85;
}

@media screen and (max-width: 992px) {
    .logo-embryo{
        bottom: 30px;
    }
    .btn-primary{
        width: 100%;
    }
}